<form
  class="form-horizontal"
  autocomplete="off"
  #createProductForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewProduct' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="sku">
              {{ "SKU" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="sku"
                id="sku"
                required
                minlength="2"
                maxlength="32"
                [(ngModel)]="product.sku"
                #skuModel="ngModel"
                #skuEl
              />
              <abp-validation-summary
                [control]="skuModel"
                [controlEl]="skuEl"
              ></abp-validation-summary>
            </div>
          </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Name" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="product.name"
              #nameModel="ngModel"
              #nameEl
            />
            <abp-validation-summary
              [control]="nameModel"
              [controlEl]="nameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="price">
            {{ "Price" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="number"
              class="form-control"
              name="price"
              id="price"
              required
              [(ngModel)]="product.price"
              #priceModel="ngModel"
              #priceEl
            />
            <abp-validation-summary
              [control]="priceModel"
              [controlEl]="priceEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="discountedPrice">
            {{ "DiscountedPrice" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="number"
              class="form-control"
              name="discountedPrice"
              id="discountedPrice"
              required
              [(ngModel)]="product.discountedPrice"
              #discountedPriceModel="ngModel"
              #discountedPriceEl
            />
            <abp-validation-summary
              [control]="discountedPriceModel"
              [controlEl]="discountedPriceEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row mb-0">
            <label class="col-md-3 col-form-label" for="description">
              {{ "ProductDescription" | localize }}
            </label>
            <div class="col-md-9">
              <textarea
                type="text"
                class="form-control"
                name="description"
                id="description"
                [(ngModel)]="product.description"
              >
              </textarea>
            </div>
          </div>
      </tab>
      <tab [heading]="'Product metadata' | localize" class="pt-3 px-2">
        <div class="form-group row mb-0">
          <input type="file" (change)="onFileChanged($event)" multiple="multiple">
        </div>
      </tab>
      <tab [heading]="'StorageDetails' | localize" class="pt-3 px-2">
        <div class="form-group row mb-0">
          <ng-container *ngFor="let warehouse of warehouses; let i = index">
            <div class="col-md-9">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  [id]="'warehouse_' + i"
                  [checked]="isWarehouseChecked(warehouse.name)"
                  (change)="onWarehouseChange(warehouse, $event)"
                />
                <label class="custom-control-label" [for]="'warehouse_' + i">
                  {{ warehouse.name }}
                </label>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="'quantity_' + i">
                  {{ "Quantity" | localize }}
                </label>
                <div class="col-md-3">
                  <input
                    type="number"
                    class="form-control"
                    [id]="'quantity_' + i"
                    required
                    min="0"
                    (change)="quantityChanged(warehouse.id, $event)"
                    [disabled]="!checkedWarehousesMap[warehouse.id].selected"
                  />
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createProductForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
